@font-face {
  font-family: 'bellotaregular';
  src: url("/assets/font/Bellotaregular-webfont.eot");
  src: url("/assets/font/Bellotaregular-webfont.eot?iefix") format("eot"), url("/assets/font/Bellotaregular-webfont.woff") format("woff"), url("/assets/font/Bellotaregular-webfont.ttf") format("truetype"), url("/assets/font/Bellotaregular-webfont.svg#bellotaregular") format("svg"); }

body {
  padding-top: 30px;
  background-color: #8eb9ae;
  font-family: 'bellotaregular'; }

html {
  font-family: 'bellotaregular'; }

.error {
  color: red; }

section {
  padding: 40px;
  margin-top: 20px;
  background-color: #fcf9f9;
  box-shadow: 5px 5px 5px #011f17; }
  section img {
    width: 20%; }
  section h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #35afaf;
    text-align: center;
    font-family: 'bellotaregular'; }
  section i {
    color: #35afaf; }
